<pre>
{% if remaining_lifes == 5 %}
   +---+
       |
       |
       |
       |
       |
=========
{% elif remaining_lifes == 4 %}
   +---+
   |   |
       |
       |
       |
       |
=========
{% elif remaining_lifes == 3 %}
   +---+
   |   |
   O   |
       |
       |
       |
=========
{% elif remaining_lifes == 2 %}
   +---+
   |   |
   O   |
   |   |
       |
       |
=========
{% elif remaining_lifes == 1 %}
   +---+
   |   |
   O   |
  /|\  |
       |
       |
=========
{% elif remaining_lifes == 0 %}
   +---+
   |   |
   O   |
  /|\  |
  / \  |
       |
=========
{% endif %}
</pre>
