{% extends 'layout.html' %}

{% block title %}{{ super() }} | Accueil{% endblock %}

{% block content %}
    <p>Bonjour <strong>{{ username }}</strong></p>

    <p>Nombre de vies restantes : <strong>{{ remaining_lifes }}</strong></p>

    <pre>{{ gallows }}</pre>

    <p>
        Le mot à deviner est :
        <strong style="letter-spacing: 3px;">
            {{ hint }}
        </strong>
    </p>

    <form action="/jouer/envoyer" method="POST">
        {% for letter in alphabet %}
            <button type="submit" name="letter" value="{{ letter }}" {% if letter in player_attempts %}disabled{% endif %}>
                {{ letter }}
            </button>
        {% endfor %}
    </form>
{% endblock %}
